In [1]:
#install the library yfinance

In [3]:
import pandas as pd
import sqlite3
import yfinance as yf

In [6]:
# create a sql connection and create the database stock
conn = sqlite3.connect("stock.db")

On cr√©e une table pour les prix

In [7]:
# create price table with the primary tuple keys ( date, ticker) and the columns, date, ticker, price
#YOUR CODE


query1 ="""CREATE TABLE price (
      id INTEGER,
      date VarChar(10),
      ticker VarChar(20),
      price float,
      PRIMARY KEY (date, ticker)
    );"""

c = conn.cursor()
c.execute(query1.replace('\n',' '))

In [9]:
# create volume table with the primary tuple keys ( date, ticker) and the columns, date, ticker, volume 
query2 = """CREATE TABLE IF NOT EXISTS volume (
Date TEXT NOT NULL,
ticker TEXT NOT NULL,
volume REAL,
PRIMARY KEY(Date, ticker)
)"""
c.execute(query2.replace('\n',' '))

In [24]:
# backtest inputs
bt_inputs = {'tickers': ['BA', 'UNH', 'MCD', 'HD'], #BA: Boeing, UNH: UnitedHealth, MCD: Mac Donalds, HD : HomeDepot
'start_date': '2019-01-01',
'end_date': '2021-06-01'}

In [25]:
def download(bt_inputs, proxy = None):
    data = yf.download(tickers= bt_inputs['tickers'],
                       start = bt_inputs['start_date'],   
                       end = bt_inputs['end_date'],
                       interval = '1d',
                       prepost = True,
                       threads = True,
                       proxy = proxy)
    return data

In [26]:
test = download(bt_inputs)

[*********************100%***********************]  4 of 4 completed

In [27]:
test

             Adj Close                                           Close  \
                    BA          HD         MCD         UNH          BA
Date
2019-01-02  314.645142  156.673111  160.380173  229.360413  323.809998
2019-01-03  302.100555  153.219910  159.323517  223.105713  310.899994
2019-01-04  317.822571  157.772629  162.402512  225.714981  327.079987
2019-01-07  318.823395  160.880478  164.169708  226.148315  328.109985
2019-01-08  330.891968  161.652893  164.515900  229.171997  340.529999
...                ...         ...         ...         ...         ...
2021-05-24  237.440002  302.713989  223.117004  401.549225  237.440002
2021-05-25  240.740005  304.550446  223.338242  403.601135  240.740005
2021-05-26  241.369995  305.108124  223.540314  403.757477  241.369995
2021-05-27  250.699997  306.492645  225.955139  403.259216  250.699997
2021-05-28  247.020004  306.627289  226.264694  402.497040  247.020004

                                                      High              ...  \
                    HD         MCD         UNH          BA          HD  ...
Date                                                                    ...
2019-01-02  172.410004  176.059998  243.490005  323.950012  173.179993  ...
2019-01-03  168.610001  174.899994  236.850006  319.739990  171.839996  ...
2019-01-04  173.619995  178.279999  239.619995  328.440002  174.740005  ...
2019-01-07  177.039993  180.220001  240.080002  330.690002  178.179993  ...
2019-01-08  177.889999  180.600006  243.289993  341.250000  179.589996  ...
...                ...         ...         ...         ...         ...  ...
2021-05-24  314.839996  231.910004  410.950012  238.500000  318.739990  ...
2021-05-25  316.750000  232.139999  413.049988  243.779999  317.100006  ...
2021-05-26  317.329987  232.350006  413.209991  242.490005  321.380005  ...
2021-05-27  318.769989  234.860001  412.700012  252.600006  320.410004  ...
2021-05-28  318.910004  233.889999  411.920013  248.979996  321.510010  ...

                   Low                    Open                          \
                   MCD         UNH          BA          HD         MCD
Date
2019-01-02  174.169998  241.470001  316.190002  169.710007  175.410004
2019-01-03  174.410004  236.130005  319.489990  171.839996  175.449997
2019-01-04  175.690002  238.800003  316.690002  170.179993  176.029999
2019-01-07  178.139999  238.229996  330.519989  173.830002  178.139999
2019-01-08  179.910004  239.710007  334.109985  178.570007  181.960007
...                ...         ...         ...         ...         ...
2021-05-24  231.020004  409.920013  235.139999  316.839996  231.520004
2021-05-25  230.710007  408.890015  240.000000  315.529999  232.169998
2021-05-26  232.160004  411.010010  241.699997  317.809998  233.789993
2021-05-27  232.399994  410.380005  248.110001  317.299988  233.009995
2021-05-28  232.449997  410.019989  247.479996  320.369995  234.130005

                          Volume
                   UNH        BA       HD      MCD      UNH
Date
2019-01-02  245.000000   3292200  4242900  2571500  4063600
2019-01-03  243.479996   5705600  4810500  3728200  4623200
2019-01-04  239.800003   4448800  4762600  3194300  5367600
2019-01-07  240.399994   4030300  4928800  3283000  4133000
2019-01-08  242.330002   4736500  4722400  2941400  3618600
...                ...       ...      ...      ...      ...
2021-05-24  412.369995  10106000  2930600  1823300  1883600
2021-05-25  411.850006  12908000  3523300  2681900  2285600
2021-05-26  412.100006   7240200  2881600  1564200  1903900
2021-05-27  414.920013  18404400  3734800  5242900  2041800
2021-05-28  412.700012  11197400  3194000  2853600  2367900

[607 rows x 24 columns]

In [28]:
test['Adj Close']

                    BA          HD         MCD         UNH
Date
2019-01-02  314.645142  156.673111  160.380173  229.360413
2019-01-03  302.100555  153.219910  159.323517  223.105713
2019-01-04  317.822571  157.772629  162.402512  225.714981
2019-01-07  318.823395  160.880478  164.169708  226.148315
2019-01-08  330.891968  161.652893  164.515900  229.171997
...                ...         ...         ...         ...
2021-05-24  237.440002  302.713989  223.117004  401.549225
2021-05-25  240.740005  304.550446  223.338242  403.601135
2021-05-26  241.369995  305.108124  223.540314  403.757477
2021-05-27  250.699997  306.492645  225.955139  403.259216
2021-05-28  247.020004  306.627289  226.264694  402.497040

[607 rows x 4 columns]

In [29]:
test['Volume']

                  BA       HD      MCD      UNH
Date
2019-01-02   3292200  4242900  2571500  4063600
2019-01-03   5705600  4810500  3728200  4623200
2019-01-04   4448800  4762600  3194300  5367600
2019-01-07   4030300  4928800  3283000  4133000
2019-01-08   4736500  4722400  2941400  3618600
...              ...      ...      ...      ...
2021-05-24  10106000  2930600  1823300  1883600
2021-05-25  12908000  3523300  2681900  2285600
2021-05-26   7240200  2881600  1564200  1903900
2021-05-27  18404400  3734800  5242900  2041800
2021-05-28  11197400  3194000  2853600  2367900

[607 rows x 4 columns]

In [30]:
adj_close = test['Adj Close']
volume = test['Volume']

In [31]:
adj_close.head()

                    BA          HD         MCD         UNH
Date
2019-01-02  314.645142  156.673111  160.380173  229.360413
2019-01-03  302.100555  153.219910  159.323517  223.105713
2019-01-04  317.822571  157.772629  162.402512  225.714981
2019-01-07  318.823395  160.880478  164.169708  226.148315
2019-01-08  330.891968  161.652893  164.515900  229.171997

In [32]:
# convert wide to long
adj_close_long = pd.melt(adj_close.reset_index(), id_vars='Date', value_vars=bt_inputs['tickers'], 
                         var_name ="ticker", value_name="price")
adj_close_long

           Date ticker       price
0    2019-01-02     BA  314.645142
1    2019-01-03     BA  302.100555
2    2019-01-04     BA  317.822571
3    2019-01-07     BA  318.823395
4    2019-01-08     BA  330.891968
...         ...    ...         ...
2423 2021-05-24     HD  302.713989
2424 2021-05-25     HD  304.550446
2425 2021-05-26     HD  305.108124
2426 2021-05-27     HD  306.492645
2427 2021-05-28     HD  306.627289

[2428 rows x 3 columns]

In [33]:
adj_close_long[0:607]

          Date ticker       price
0   2019-01-02     BA  314.645142
1   2019-01-03     BA  302.100555
2   2019-01-04     BA  317.822571
3   2019-01-07     BA  318.823395
4   2019-01-08     BA  330.891968
..         ...    ...         ...
602 2021-05-24     BA  237.440002
603 2021-05-25     BA  240.740005
604 2021-05-26     BA  241.369995
605 2021-05-27     BA  250.699997
606 2021-05-28     BA  247.020004

[607 rows x 3 columns]

In [34]:
adj_close_long[607:1215]

           Date ticker       price
607  2019-01-02    UNH  229.360413
608  2019-01-03    UNH  223.105713
609  2019-01-04    UNH  225.714981
610  2019-01-07    UNH  226.148315
611  2019-01-08    UNH  229.171997
...         ...    ...         ...
1210 2021-05-25    UNH  403.601135
1211 2021-05-26    UNH  403.757477
1212 2021-05-27    UNH  403.259216
1213 2021-05-28    UNH  402.497040
1214 2019-01-02    MCD  160.380173

[608 rows x 3 columns]

In [35]:
adj_close_long['ticker'].value_counts()

BA     607
UNH    607
MCD    607
HD     607
Name: ticker, dtype: int64

In [36]:
volume

                  BA       HD      MCD      UNH
Date
2019-01-02   3292200  4242900  2571500  4063600
2019-01-03   5705600  4810500  3728200  4623200
2019-01-04   4448800  4762600  3194300  5367600
2019-01-07   4030300  4928800  3283000  4133000
2019-01-08   4736500  4722400  2941400  3618600
...              ...      ...      ...      ...
2021-05-24  10106000  2930600  1823300  1883600
2021-05-25  12908000  3523300  2681900  2285600
2021-05-26   7240200  2881600  1564200  1903900
2021-05-27  18404400  3734800  5242900  2041800
2021-05-28  11197400  3194000  2853600  2367900

[607 rows x 4 columns]

In [37]:
#convert wide to long
volume_long = pd.melt(volume.reset_index(), id_vars='Date', value_vars=bt_inputs['tickers'], 
                      var_name = "ticker", value_name = "volume")
volume_long.head()

        Date ticker   volume
0 2019-01-02     BA  3292200
1 2019-01-03     BA  5705600
2 2019-01-04     BA  4448800
3 2019-01-07     BA  4030300
4 2019-01-08     BA  4736500

In [38]:
# insert a in sql table prices and volume
#YOUR CODE

adj_close_long.to_sql("price", conn, if_exists="replace", index = False)
volume.to_sql("volume", conn, if_exists="replace", index = False)

607

In [40]:
select_tickers = bt_inputs['tickers']
select_tickers

['BA', 'UNH', 'MCD', 'HD']

In [24]:
start_date = bt_inputs['start_date']
start_date

'2019-01-01'

In [56]:
# inputs
select_tickers = bt_inputs['tickers']
start_date = bt_inputs['start_date']
end_date = bt_inputs['end_date']
# construct query: select the prices withe tickers in select_tickers 
#between start_date and end_date
query = f"SELECT * FROM price WHERE Date BETWEEN '{start_date}' AND '{end_date}'"
c.execute(query.replace('\n',' '))

In [57]:
#display the request
#YOUR CODE
c.fetchall()

[('2019-01-02 00:00:00', 'BA', 314.6451416015625),
 ('2019-01-03 00:00:00', 'BA', 302.1005554199219),
 ('2019-01-04 00:00:00', 'BA', 317.82257080078125),
 ('2019-01-07 00:00:00', 'BA', 318.8233947753906),
 ('2019-01-08 00:00:00', 'BA', 330.8919677734375),
 ('2019-01-09 00:00:00', 'BA', 334.0985107421875),
 ('2019-01-10 00:00:00', 'BA', 342.6300048828125),
 ('2019-01-11 00:00:00', 'BA', 342.91180419921875),
 ('2019-01-14 00:00:00', 'BA', 340.44366455078125),
 ('2019-01-15 00:00:00', 'BA', 342.2705078125),
 ('2019-01-16 00:00:00', 'BA', 342.0956115722656),
 ('2019-01-17 00:00:00', 'BA', 348.9266052246094),
 ('2019-01-18 00:00:00', 'BA', 354.406982421875),
 ('2019-01-22 00:00:00', 'BA', 347.770263671875),
 ('2019-01-23 00:00:00', 'BA', 348.46014404296875),
 ('2019-01-24 00:00:00', 'BA', 348.1297912597656),
 ('2019-01-25 00:00:00', 'BA', 353.8919982910156),
 ('2019-01-28 00:00:00', 'BA', 352.69677734375),
 ('2019-01-29 00:00:00', 'BA', 354.5818786621094),
 ('2019-01-30 00:00:00', 'BA', 376.7463073730469),
 ('2019-01-31 00:00:00', 'BA', 374.70574951171875),
 ('2019-02-01 00:00:00', 'BA', 376.4645080566406),
 ('2019-02-04 00:00:00', 'BA', 385.7636413574219),
 ('2019-02-05 00:00:00', 'BA', 398.5705871582031),
 ('2019-02-06 00:00:00', 'BA', 399.47430419921875),
 ('2019-02-07 00:00:00', 'BA', 395.6802673339844),
 ('2019-02-08 00:00:00', 'BA', 395.4263916015625),
 ('2019-02-11 00:00:00', 'BA', 394.4888916015625),
 ('2019-02-12 00:00:00', 'BA', 401.1003112792969),
 ('2019-02-13 00:00:00', 'BA', 400.96356201171875),
 ('2019-02-14 00:00:00', 'BA', 400.22137451171875),
 ('2019-02-15 00:00:00', 'BA', 408.1805114746094),
 ('2019-02-19 00:00:00', 'BA', 406.51055908203125),
 ('2019-02-20 00:00:00', 'BA', 411.6766052246094),
 ('2019-02-21 00:00:00', 'BA', 407.79962158203125),
 ('2019-02-22 00:00:00', 'BA', 414.1180725097656),
 ('2019-02-25 00:00:00', 'BA', 416.8720397949219),
 ('2019-02-26 00:00:00', 'BA', 416.77435302734375),
 ('2019-02-27 00:00:00', 'BA', 425.2413024902344),
 ('2019-02-28 00:00:00', 'BA', 429.6554260253906),
 ('2019-03-01 00:00:00', 'BA', 430.2999572753906),
 ('2019-03-04 00:00:00', 'BA', 422.55572509765625),
 ('2019-03-05 00:00:00', 'BA', 420.0458984375),
 ('2019-03-06 00:00:00', 'BA', 414.5184631347656),
 ('2019-03-07 00:00:00', 'BA', 412.6629638671875),
 ('2019-03-08 00:00:00', 'BA', 412.6434631347656),
 ('2019-03-11 00:00:00', 'BA', 390.64111328125),
 ('2019-03-12 00:00:00', 'BA', 366.6173095703125),
 ('2019-03-13 00:00:00', 'BA', 368.3067932128906),
 ('2019-03-14 00:00:00', 'BA', 364.5567321777344),
 ('2019-03-15 00:00:00', 'BA', 370.11346435546875),
 ('2019-03-18 00:00:00', 'BA', 363.5606384277344),
 ('2019-03-19 00:00:00', 'BA', 364.68365478515625),
 ('2019-03-20 00:00:00', 'BA', 367.3497314453125),
 ('2019-03-21 00:00:00', 'BA', 363.9707946777344),
 ('2019-03-22 00:00:00', 'BA', 353.6874084472656),
 ('2019-03-25 00:00:00', 'BA', 361.7832336425781),
 ('2019-03-26 00:00:00', 'BA', 361.7051086425781),
 ('2019-03-27 00:00:00', 'BA', 365.44537353515625),
 ('2019-03-28 00:00:00', 'BA', 365.66998291015625),
 ('2019-03-29 00:00:00', 'BA', 372.486572265625),
 ('2019-04-01 00:00:00', 'BA', 382.3695373535156),
 ('2019-04-02 00:00:00', 'BA', 381.5980224609375),
 ('2019-04-03 00:00:00', 'BA', 375.728759765625),
 ('2019-04-04 00:00:00', 'BA', 386.58831787109375),
 ('2019-04-05 00:00:00', 'BA', 382.7503662109375),
 ('2019-04-08 00:00:00', 'BA', 365.74810791015625),
 ('2019-04-09 00:00:00', 'BA', 360.3965148925781),
 ('2019-04-10 00:00:00', 'BA', 356.39251708984375),
 ('2019-04-11 00:00:00', 'BA', 361.4902648925781),
 ('2019-04-12 00:00:00', 'BA', 370.74822998046875),
 ('2019-04-15 00:00:00', 'BA', 366.6661682128906),
 ('2019-04-16 00:00:00', 'BA', 372.7795104980469),
 ('2019-04-17 00:00:00', 'BA', 368.6778564453125),
 ('2019-04-18 00:00:00', 'BA', 371.1681823730469),
 ('2019-04-22 00:00:00', 'BA', 366.3829345703125),
 ('2019-04-23 00:00:00', 'BA', 365.2598571777344),
 ('2019-04-24 00:00:00', 'BA', 366.6661682128906),
 ('2019-04-25 00:00:00', 'BA', 373.834228515625),
 ('2019-04-26 00:00:00', 'BA', 371.8713073730469),
 ('2019-04-29 00:00:00', 'BA', 370.17205810546875),
 ('2019-04-30 00:00:00', 'BA', 368.8439025878906),
 ('2019-05-01 00:00:00', 'BA', 367.9747314453125),
 ('2019-05-02 00:00:00', 'BA', 366.9981689453125),
 ('2019-05-03 00:00:00', 'BA', 367.6427001953125),
 ('2019-05-06 00:00:00', 'BA', 362.8965148925781),
 ('2019-05-07 00:00:00', 'BA', 348.8631286621094),
 ('2019-05-08 00:00:00', 'BA', 351.3240966796875),
 ('2019-05-09 00:00:00', 'BA', 347.82257080078125),
 ('2019-05-10 00:00:00', 'BA', 348.3529357910156),
 ('2019-05-13 00:00:00', 'BA', 331.3611145019531),
 ('2019-05-14 00:00:00', 'BA', 336.93011474609375),
 ('2019-05-15 00:00:00', 'BA', 339.4837951660156),
 ('2019-05-16 00:00:00', 'BA', 347.5082702636719),
 ('2019-05-17 00:00:00', 'BA', 348.69671630859375),
 ('2019-05-20 00:00:00', 'BA', 346.5064697265625),
 ('2019-05-21 00:00:00', 'BA', 352.36029052734375),
 ('2019-05-22 00:00:00', 'BA', 346.49664306640625),
 ('2019-05-23 00:00:00', 'BA', 344.30633544921875),
 ('2019-05-24 00:00:00', 'BA', 348.578857421875),
 ('2019-05-28 00:00:00', 'BA', 348.5592346191406),
 ('2019-05-29 00:00:00', 'BA', 342.58746337890625),
 ('2019-05-30 00:00:00', 'BA', 343.638427734375),
 ('2019-05-31 00:00:00', 'BA', 335.5255432128906),
 ('2019-06-03 00:00:00', 'BA', 332.8540344238281),
 ('2019-06-04 00:00:00', 'BA', 338.4819641113281),
 ('2019-06-05 00:00:00', 'BA', 342.53839111328125),
 ('2019-06-06 00:00:00', 'BA', 344.394775390625),
 ('2019-06-07 00:00:00', 'BA', 347.4002380371094),
 ('2019-06-10 00:00:00', 'BA', 347.4984436035156),
 ('2019-06-11 00:00:00', 'BA', 343.1080627441406),
 ('2019-06-12 00:00:00', 'BA', 340.84906005859375),
 ('2019-06-13 00:00:00', 'BA', 342.64642333984375),
 ('2019-06-14 00:00:00', 'BA', 340.9766845703125),
 ('2019-06-17 00:00:00', 'BA', 348.578857421875),
 ('2019-06-18 00:00:00', 'BA', 367.29937744140625),
 ('2019-06-19 00:00:00', 'BA', 361.9955749511719),
 ('2019-06-20 00:00:00', 'BA', 368.2029724121094),
 ('2019-06-21 00:00:00', 'BA', 365.2171325683594),
 ('2019-06-24 00:00:00', 'BA', 367.3288269042969),
 ('2019-06-25 00:00:00', 'BA', 362.7420349121094),
 ('2019-06-26 00:00:00', 'BA', 368.2619323730469),
 ('2019-06-27 00:00:00', 'BA', 357.5364074707031),
 ('2019-06-28 00:00:00', 'BA', 357.526611328125),
 ('2019-07-01 00:00:00', 'BA', 350.111083984375),
 ('2019-07-02 00:00:00', 'BA', 347.85205078125),
 ('2019-07-03 00:00:00', 'BA', 348.156494140625),
 ('2019-07-05 00:00:00', 'BA', 349.521728515625),
 ('2019-07-08 00:00:00', 'BA', 344.86614990234375),
 ('2019-07-09 00:00:00', 'BA', 346.8011169433594),
 ('2019-07-10 00:00:00', 'BA', 346.025146484375),
 ('2019-07-11 00:00:00', 'BA', 352.6058349609375),
 ('2019-07-12 00:00:00', 'BA', 358.82305908203125),
 ('2019-07-15 00:00:00', 'BA', 355.1693115234375),
 ('2019-07-16 00:00:00', 'BA', 356.2890319824219),
 ('2019-07-17 00:00:00', 'BA', 362.9384460449219),
 ('2019-07-18 00:00:00', 'BA', 354.6782531738281),
 ('2019-07-19 00:00:00', 'BA', 370.6387939453125),
 ('2019-07-22 00:00:00', 'BA', 366.76904296875),
 ('2019-07-23 00:00:00', 'BA', 366.42523193359375),
 ('2019-07-24 00:00:00', 'BA', 354.9925537109375),
 ('2019-07-25 00:00:00', 'BA', 341.89013671875),
 ('2019-07-26 00:00:00', 'BA', 338.8551940917969),
 ('2019-07-29 00:00:00', 'BA', 334.1505126953125),
 ('2019-07-30 00:00:00', 'BA', 341.2713623046875),
 ('2019-07-31 00:00:00', 'BA', 335.10321044921875),
 ('2019-08-01 00:00:00', 'BA', 328.3359375),
 ('2019-08-02 00:00:00', 'BA', 333.5120849609375),
 ('2019-08-05 00:00:00', 'BA', 325.1634826660156),
 ('2019-08-06 00:00:00', 'BA', 326.52874755859375),
 ('2019-08-07 00:00:00', 'BA', 325.477783203125),
 ('2019-08-08 00:00:00', 'BA', 332.4206848144531),
 ('2019-08-09 00:00:00', 'BA', 333.6066589355469),
 ('2019-08-12 00:00:00', 'BA', 329.050537109375),
 ('2019-08-13 00:00:00', 'BA', 328.9714660644531),
 ('2019-08-14 00:00:00', 'BA', 316.67681884765625),
 ('2019-08-15 00:00:00', 'BA', 324.1682434082031),
 ('2019-08-16 00:00:00', 'BA', 326.5896301269531),
 ('2019-08-19 00:00:00', 'BA', 329.8807373046875),
 ('2019-08-20 00:00:00', 'BA', 327.87445068359375),
 ('2019-08-21 00:00:00', 'BA', 336.0181579589844),
 ('2019-08-22 00:00:00', 'BA', 350.2697448730469),
 ('2019-08-23 00:00:00', 'BA', 351.8510437011719),
 ('2019-08-26 00:00:00', 'BA', 354.84564208984375),
 ('2019-08-27 00:00:00', 'BA', 350.58599853515625),
 ('2019-08-28 00:00:00', 'BA', 355.7647705078125),
 ('2019-08-29 00:00:00', 'BA', 358.50238037109375),
 ('2019-08-30 00:00:00', 'BA', 359.8366394042969),
 ('2019-09-03 00:00:00', 'BA', 350.2796325683594),
 ('2019-09-04 00:00:00', 'BA', 352.3649597167969),
 ('2019-09-05 00:00:00', 'BA', 356.0909118652344),
 ('2019-09-06 00:00:00', 'BA', 358.7593688964844),
 ('2019-09-09 00:00:00', 'BA', 354.5886535644531),
 ('2019-09-10 00:00:00', 'BA', 365.1735534667969),
 ('2019-09-11 00:00:00', 'BA', 378.4664306640625),
 ('2019-09-12 00:00:00', 'BA', 371.2418518066406),
 ('2019-09-13 00:00:00', 'BA', 375.3235778808594),
 ('2019-09-16 00:00:00', 'BA', 374.4241943359375),
 ('2019-09-17 00:00:00', 'BA', 379.71173095703125),
 ('2019-09-18 00:00:00', 'BA', 381.8959045410156),
 ('2019-09-19 00:00:00', 'BA', 379.94891357421875),
 ('2019-09-20 00:00:00', 'BA', 374.9579162597656),
 ('2019-09-23 00:00:00', 'BA', 372.6254577636719),
 ('2019-09-24 00:00:00', 'BA', 377.1914978027344),
 ('2019-09-25 00:00:00', 'BA', 381.6883544921875),
 ('2019-09-26 00:00:00', 'BA', 382.37030029296875),
 ('2019-09-27 00:00:00', 'BA', 378.3873596191406),
 ('2019-09-30 00:00:00', 'BA', 376.0252685546875),
 ('2019-10-01 00:00:00', 'BA', 370.5599060058594),
 ('2019-10-02 00:00:00', 'BA', 363.06842041015625),
 ('2019-10-03 00:00:00', 'BA', 367.7234191894531),
 ('2019-10-04 00:00:00', 'BA', 371.3110046386719),
 ('2019-10-07 00:00:00', 'BA', 372.1412048339844),
 ('2019-10-08 00:00:00', 'BA', 369.7297058105469),
 ('2019-10-09 00:00:00', 'BA', 370.57965087890625),
 ('2019-10-10 00:00:00', 'BA', 366.6659240722656),
 ('2019-10-11 00:00:00', 'BA', 370.5401611328125),
 ('2019-10-14 00:00:00', 'BA', 368.8204345703125),
 ('2019-10-15 00:00:00', 'BA', 366.6263732910156),
 ('2019-10-16 00:00:00', 'BA', 368.0791931152344),
 ('2019-10-17 00:00:00', 'BA', 364.74859619140625),
 ('2019-10-18 00:00:00', 'BA', 339.9813232421875),
 ('2019-10-21 00:00:00', 'BA', 327.1925048828125),
 ('2019-10-22 00:00:00', 'BA', 333.0631103515625),
 ('2019-10-23 00:00:00', 'BA', 336.522216796875),
 ('2019-10-24 00:00:00', 'BA', 340.5248718261719),
 ('2019-10-25 00:00:00', 'BA', 335.86004638671875),
 ('2019-10-28 00:00:00', 'BA', 336.89776611328125),
 ('2019-10-29 00:00:00', 'BA', 344.8537292480469),
 ('2019-10-30 00:00:00', 'BA', 342.0172424316406),
 ('2019-10-31 00:00:00', 'BA', 335.9391174316406),
 ('2019-11-01 00:00:00', 'BA', 341.1574401855469),
 ('2019-11-04 00:00:00', 'BA', 346.9884948730469),
 ('2019-11-05 00:00:00', 'BA', 354.1044006347656),
 ('2019-11-06 00:00:00', 'BA', 350.05230712890625),
 ('2019-11-07 00:00:00', 'BA', 355.1966857910156),
 ('2019-11-08 00:00:00', 'BA', 348.92401123046875),
 ('2019-11-11 00:00:00', 'BA', 364.78961181640625),
 ('2019-11-12 00:00:00', 'BA', 360.7337341308594),
 ('2019-11-13 00:00:00', 'BA', 360.3559875488281),
 ('2019-11-14 00:00:00', 'BA', 365.26678466796875),
 ('2019-11-15 00:00:00', 'BA', 369.481689453125),
 ('2019-11-18 00:00:00', 'BA', 367.2748107910156),
 ('2019-11-19 00:00:00', 'BA', 364.8293762207031),
 ('2019-11-20 00:00:00', 'BA', 368.71624755859375),
 ('2019-11-21 00:00:00', 'BA', 364.2726745605469),
 ('2019-11-22 00:00:00', 'BA', 369.1437072753906),
 ('2019-11-25 00:00:00', 'BA', 370.9231262207031),
 ('2019-11-26 00:00:00', 'BA', 371.3008728027344),
 ('2019-11-27 00:00:00', 'BA', 365.8234558105469),
 ('2019-11-29 00:00:00', 'BA', 364.01422119140625),
 ('2019-12-02 00:00:00', 'BA', 353.07928466796875),
 ('2019-12-03 00:00:00', 'BA', 349.99761962890625),
 ('2019-12-04 00:00:00', 'BA', 346.7767639160156),
 ('2019-12-05 00:00:00', 'BA', 343.6354675292969),
 ('2019-12-06 00:00:00', 'BA', 351.9957275390625),
 ('2019-12-09 00:00:00', 'BA', 349.13275146484375),
 ('2019-12-10 00:00:00', 'BA', 345.84234619140625),
 ('2019-12-11 00:00:00', 'BA', 347.929931640625),
 ('2019-12-12 00:00:00', 'BA', 344.24188232421875),
 ('2019-12-13 00:00:00', 'BA', 339.6492004394531),
 ('2019-12-16 00:00:00', 'BA', 325.0659484863281),
 ('2019-12-17 00:00:00', 'BA', 325.0659484863281),
 ('2019-12-18 00:00:00', 'BA', 328.72418212890625),
 ('2019-12-19 00:00:00', 'BA', 331.5274963378906),
 ('2019-12-20 00:00:00', 'BA', 326.0600280761719),
 ('2019-12-23 00:00:00', 'BA', 335.5535583496094),
 ('2019-12-24 00:00:00', 'BA', 331.03045654296875),
 ('2019-12-26 00:00:00', 'BA', 327.96868896484375),
 ('2019-12-27 00:00:00', 'BA', 328.1874084472656),
 ('2019-12-30 00:00:00', 'BA', 324.4695129394531),
 ('2019-12-31 00:00:00', 'BA', 323.83331298828125),
 ('2020-01-02 00:00:00', 'BA', 331.34857177734375),
 ('2020-01-03 00:00:00', 'BA', 330.7919006347656),
 ('2020-01-06 00:00:00', 'BA', 331.7660827636719),
 ('2020-01-07 00:00:00', 'BA', 335.28515625),
 ('2020-01-08 00:00:00', 'BA', 329.41009521484375),
 ('2020-01-09 00:00:00', 'BA', 334.3507080078125),
 ('2020-01-10 00:00:00', 'BA', 327.96868896484375),
 ('2020-01-13 00:00:00', 'BA', 328.26690673828125),
 ('2020-01-14 00:00:00', 'BA', 330.3843078613281),
 ('2020-01-15 00:00:00', 'BA', 327.8493957519531),
 ('2020-01-16 00:00:00', 'BA', 330.036376953125),
 ('2020-01-17 00:00:00', 'BA', 322.2328186035156),
 ('2020-01-21 00:00:00', 'BA', 311.5165710449219),
 ('2020-01-22 00:00:00', 'BA', 307.17242431640625),
 ('2020-01-23 00:00:00', 'BA', 315.9104309082031),
 ('2020-01-24 00:00:00', 'BA', 321.1393127441406),
 ('2020-01-27 00:00:00', 'BA', 314.72747802734375),
 ('2020-01-28 00:00:00', 'BA', 314.6877136230469),
 ('2020-01-29 00:00:00', 'BA', 320.1153869628906),
 ('2020-01-30 00:00:00', 'BA', 321.3878173828125),
 ('2020-01-31 00:00:00', 'BA', 316.3875732421875),
 ('2020-02-03 00:00:00', 'BA', 314.1310119628906),
 ('2020-02-04 00:00:00', 'BA', 316.0595397949219),
 ('2020-02-05 00:00:00', 'BA', 327.6008605957031),
 ('2020-02-06 00:00:00', 'BA', 339.4106140136719),
 ('2020-02-07 00:00:00', 'BA', 334.75830078125),
 ('2020-02-10 00:00:00', 'BA', 342.6314697265625),
 ('2020-02-11 00:00:00', 'BA', 342.3829345703125),
 ('2020-02-12 00:00:00', 'BA', 345.39501953125),
 ('2020-02-13 00:00:00', 'BA', 342.82000732421875),
 ('2020-02-14 00:00:00', 'BA', 340.489990234375),
 ('2020-02-18 00:00:00', 'BA', 338.8800048828125),
 ('2020-02-19 00:00:00', 'BA', 338.29998779296875),
 ('2020-02-20 00:00:00', 'BA', 336.2799987792969),
 ('2020-02-21 00:00:00', 'BA', 330.3800048828125),
 ('2020-02-24 00:00:00', 'BA', 317.8999938964844),
 ('2020-02-25 00:00:00', 'BA', 304.1400146484375),
 ('2020-02-26 00:00:00', 'BA', 305.5899963378906),
 ('2020-02-27 00:00:00', 'BA', 287.760009765625),
 ('2020-02-28 00:00:00', 'BA', 275.1099853515625),
 ('2020-03-02 00:00:00', 'BA', 289.2699890136719),
 ('2020-03-03 00:00:00', 'BA', 280.6199951171875),
 ('2020-03-04 00:00:00', 'BA', 283.1199951171875),
 ('2020-03-05 00:00:00', 'BA', 260.3699951171875),
 ('2020-03-06 00:00:00', 'BA', 262.3299865722656),
 ('2020-03-09 00:00:00', 'BA', 227.1699981689453),
 ('2020-03-10 00:00:00', 'BA', 231.00999450683594),
 ('2020-03-11 00:00:00', 'BA', 189.0800018310547),
 ('2020-03-12 00:00:00', 'BA', 154.83999633789062),
 ('2020-03-13 00:00:00', 'BA', 170.1999969482422),
 ('2020-03-16 00:00:00', 'BA', 129.61000061035156),
 ('2020-03-17 00:00:00', 'BA', 124.13999938964844),
 ('2020-03-18 00:00:00', 'BA', 101.88999938964844),
 ('2020-03-19 00:00:00', 'BA', 97.70999908447266),
 ('2020-03-20 00:00:00', 'BA', 95.01000213623047),
 ('2020-03-23 00:00:00', 'BA', 105.62000274658203),
 ('2020-03-24 00:00:00', 'BA', 127.68000030517578),
 ('2020-03-25 00:00:00', 'BA', 158.72999572753906),
 ('2020-03-26 00:00:00', 'BA', 180.5500030517578),
 ('2020-03-27 00:00:00', 'BA', 162.0),
 ('2020-03-30 00:00:00', 'BA', 152.27999877929688),
 ('2020-03-31 00:00:00', 'BA', 149.13999938964844),
 ('2020-04-01 00:00:00', 'BA', 130.6999969482422),
 ('2020-04-02 00:00:00', 'BA', 123.2699966430664),
 ('2020-04-03 00:00:00', 'BA', 124.5199966430664),
 ('2020-04-06 00:00:00', 'BA', 148.77000427246094),
 ('2020-04-07 00:00:00', 'BA', 141.5800018310547),
 ('2020-04-08 00:00:00', 'BA', 146.8699951171875),
 ('2020-04-09 00:00:00', 'BA', 151.83999633789062),
 ('2020-04-13 00:00:00', 'BA', 147.3300018310547),
 ('2020-04-14 00:00:00', 'BA', 141.0),
 ('2020-04-15 00:00:00', 'BA', 145.97999572753906),
 ('2020-04-16 00:00:00', 'BA', 134.24000549316406),
 ('2020-04-17 00:00:00', 'BA', 154.0),
 ('2020-04-20 00:00:00', 'BA', 143.61000061035156),
 ('2020-04-21 00:00:00', 'BA', 136.3300018310547),
 ('2020-04-22 00:00:00', 'BA', 134.97000122070312),
 ('2020-04-23 00:00:00', 'BA', 137.74000549316406),
 ('2020-04-24 00:00:00', 'BA', 128.97999572753906),
 ('2020-04-27 00:00:00', 'BA', 128.67999267578125),
 ('2020-04-28 00:00:00', 'BA', 131.3000030517578),
 ('2020-04-29 00:00:00', 'BA', 139.0),
 ('2020-04-30 00:00:00', 'BA', 141.02000427246094),
 ('2020-05-01 00:00:00', 'BA', 133.3699951171875),
 ('2020-05-04 00:00:00', 'BA', 131.4600067138672),
 ('2020-05-05 00:00:00', 'BA', 125.4000015258789),
 ('2020-05-06 00:00:00', 'BA', 121.86000061035156),
 ('2020-05-07 00:00:00', 'BA', 128.64999389648438),
 ('2020-05-08 00:00:00', 'BA', 133.44000244140625),
 ('2020-05-11 00:00:00', 'BA', 128.91000366210938),
 ('2020-05-12 00:00:00', 'BA', 125.22000122070312),
 ('2020-05-13 00:00:00', 'BA', 121.5),
 ('2020-05-14 00:00:00', 'BA', 122.5199966430664),
 ('2020-05-15 00:00:00', 'BA', 120.0),
 ('2020-05-18 00:00:00', 'BA', 135.44000244140625),
 ('2020-05-19 00:00:00', 'BA', 130.44000244140625),
 ('2020-05-20 00:00:00', 'BA', 133.32000732421875),
 ('2020-05-21 00:00:00', 'BA', 139.0),
 ('2020-05-22 00:00:00', 'BA', 137.52999877929688),
 ('2020-05-26 00:00:00', 'BA', 144.72999572753906),
 ('2020-05-27 00:00:00', 'BA', 149.52000427246094),
 ('2020-05-28 00:00:00', 'BA', 149.82000732421875),
 ('2020-05-29 00:00:00', 'BA', 145.85000610351562),
 ('2020-06-01 00:00:00', 'BA', 151.38999938964844),
 ('2020-06-02 00:00:00', 'BA', 153.30999755859375),
 ('2020-06-03 00:00:00', 'BA', 173.16000366210938),
 ('2020-06-04 00:00:00', 'BA', 184.3000030517578),
 ('2020-06-05 00:00:00', 'BA', 205.42999267578125),
 ('2020-06-08 00:00:00', 'BA', 230.5),
 ('2020-06-09 00:00:00', 'BA', 216.74000549316406),
 ('2020-06-10 00:00:00', 'BA', 203.41000366210938),
 ('2020-06-11 00:00:00', 'BA', 170.0),
 ('2020-06-12 00:00:00', 'BA', 189.50999450683594),
 ('2020-06-15 00:00:00', 'BA', 190.94000244140625),
 ('2020-06-16 00:00:00', 'BA', 197.77000427246094),
 ('2020-06-17 00:00:00', 'BA', 192.5399932861328),
 ('2020-06-18 00:00:00', 'BA', 192.2899932861328),
 ('2020-06-19 00:00:00', 'BA', 187.02000427246094),
 ('2020-06-22 00:00:00', 'BA', 188.52000427246094),
 ('2020-06-23 00:00:00', 'BA', 187.8800048828125),
 ('2020-06-24 00:00:00', 'BA', 176.69000244140625),
 ('2020-06-25 00:00:00', 'BA', 174.8800048828125),
 ('2020-06-26 00:00:00', 'BA', 170.00999450683594),
 ('2020-06-29 00:00:00', 'BA', 194.49000549316406),
 ('2020-06-30 00:00:00', 'BA', 183.3000030517578),
 ('2020-07-01 00:00:00', 'BA', 180.32000732421875),
 ('2020-07-02 00:00:00', 'BA', 180.80999755859375),
 ('2020-07-06 00:00:00', 'BA', 187.91000366210938),
 ('2020-07-07 00:00:00', 'BA', 178.8800048828125),
 ('2020-07-08 00:00:00', 'BA', 180.0800018310547),
 ('2020-07-09 00:00:00', 'BA', 173.27999877929688),
 ('2020-07-10 00:00:00', 'BA', 178.44000244140625),
 ('2020-07-13 00:00:00', 'BA', 175.64999389648438),
 ('2020-07-14 00:00:00', 'BA', 179.9600067138672),
 ('2020-07-15 00:00:00', 'BA', 187.94000244140625),
 ('2020-07-16 00:00:00', 'BA', 178.6999969482422),
 ('2020-07-17 00:00:00', 'BA', 175.66000366210938),
 ('2020-07-20 00:00:00', 'BA', 174.4199981689453),
 ('2020-07-21 00:00:00', 'BA', 178.6300048828125),
 ('2020-07-22 00:00:00', 'BA', 179.7899932861328),

In [60]:
#store the results of the request in a  dataframe result

result = pd.read_sql_query(query, conn)
result

                     Date ticker       price
0     2019-01-02 00:00:00     BA  314.645142
1     2019-01-03 00:00:00     BA  302.100555
2     2019-01-04 00:00:00     BA  317.822571
3     2019-01-07 00:00:00     BA  318.823395
4     2019-01-08 00:00:00     BA  330.891968
...                   ...    ...         ...
2423  2021-05-24 00:00:00     HD  302.713989
2424  2021-05-25 00:00:00     HD  304.550446
2425  2021-05-26 00:00:00     HD  305.108124
2426  2021-05-27 00:00:00     HD  306.492645
2427  2021-05-28 00:00:00     HD  306.627289

[2428 rows x 3 columns]